1.Up Sampling 
2.Down Sampling

In [1]:
import numpy as np
import pandas as pd

# set the random seef for the reproductivity
np.random.seed(123)

# create a dataframe with two classes

n_sample=1000
class_0_ratio=0.9
n_class_0=int(n_sample*class_0_ratio)
n_class1=n_sample-n_class_0

In [3]:
n_class1,n_class_0

(100, 900)

In [6]:
## CREATE MY DATAFRAME WITH IMBALANCED DATASET
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class1),
    'target': [1] * n_class1
})

In [7]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [8]:
df.tail()

     feature_1  feature_2  target
995   2.317874   0.566811       1
996   4.203088   1.629890       1
997   2.477481   1.715648       1
998   3.767493   2.373888       1
999  -0.205739   2.263030       1

In [9]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

In [10]:
## upsampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [11]:
from sklearn.utils import resample
df_minority_upsampled=resample(df_minority,replace=True, #Sample With replacement
         n_samples=len(df_majority),
         random_state=42
        )

In [12]:
df_minority_upsampled.shape

(900, 3)

In [13]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951   1.850229   2.098445       1
992   1.642404   1.252027       1
914   2.818151   1.567731       1
971   0.838009   1.108123       1
960   0.696935   1.895430       1

In [14]:
df_upsampled=pd.concat([df_majority,df_minority_upsampled])

In [15]:
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

1 Down Sampling

In [16]:
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

df = pd.concat([class_0, class_1]).reset_index(drop=True)

# Check the class distribution
print(df['target'].value_counts())

0    900
1    100
Name: target, dtype: int64

In [17]:
## downsampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [18]:
from sklearn.utils import resample
df_majority_downsampled=resample(df_majority,replace=False, #Sample With replacement
         n_samples=len(df_minority),
         random_state=42
        )

In [19]:
df_majority_downsampled.shape

(100, 3)

In [20]:
df_downsampled=pd.concat([df_minority,df_majority_downsampled])

In [21]:
df_downsampled['target'].value_counts()

1    100
0    100
Name: target, dtype: int64