In [3]:
import seaborn as sns
df=sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
df['time'].unique()

['Dinner', 'Lunch']
Categories (2, object): ['Lunch', 'Dinner']

In [5]:
## Handling Missing values
## Handling Categorical Features
## Handling Outliers
## Feature Engineering
##Automating enitere Process

In [6]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [9]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
df['time']=encoder.fit_transform(df['time'])

In [10]:
df.head()

   total_bill   tip     sex smoker  day  time  size
0       16.99  1.01  Female     No  Sun     0     2
1       10.34  1.66    Male     No  Sun     0     3
2       21.01  3.50    Male     No  Sun     0     3
3       23.68  3.31    Male     No  Sun     0     2
4       24.59  3.61  Female     No  Sun     0     4

In [11]:
df['time'].value_counts()

0    176
1     68
Name: time, dtype: int64

In [12]:
## Independent and Depemndent feature

In [15]:
X=df.drop(labels=['time'],axis=1)
y=df['time']

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=42)

In [17]:
## handling missing values
from sklearn.impute import SimpleImputer

In [18]:
df.head()

   total_bill   tip     sex smoker  day  time  size
0       16.99  1.01  Female     No  Sun     0     2
1       10.34  1.66    Male     No  Sun     0     3
2       21.01  3.50    Male     No  Sun     0     3
3       23.68  3.31    Male     No  Sun     0     2
4       24.59  3.61  Female     No  Sun     0     4

In [21]:
## Handling categorical values
from sklearn.preprocessing import OneHotEncoder

In [23]:
## Feature Scaling
from sklearn.preprocessing import StandardScaler

In [24]:
## Create pipleline
from sklearn.pipeline import Pipeline

In [26]:
from sklearn.compose import ColumnTransformer

In [27]:
categorical_cols=['sex','smoker','day']
numerical_cols=['total_bill','tip','size']

In [28]:
## Feature Engineering Automation

In [37]:
#3 Numerival Pipeline
num_pipeline=Pipeline(
      steps=[
          ('imputer',SimpleImputer(strategy='mean')),## Missisng VAlues
          ('scaler',StandardScaler())# Feature Scaling
      ]                  
 
)

In [38]:
# CAtegorical Pipeline
cat_pipeline=Pipeline(
       steps=[
           ('imputer',SimpleImputer(strategy='most_frequent')),## Missisng VAlues
          ('onehotencoder',OneHotEncoder())# categorical to numerical
       ]
)

In [39]:
## Combing Pipeline
preprocessor=ColumnTransformer([
    ('num_pipeline',num_pipeline,numerical_cols),
    ('cat_pipeline',cat_pipeline,categorical_cols)
    
])

In [40]:
X_train=preprocessor.fit_transform(X_train)
X_test=preprocessor.transform(X_test)

In [55]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

In [58]:
## Automate Model Training
models={
    'Random Forest':RandomForestClassifier(),
    'Decision Tree':DecisionTreeClassifier(),
    'SVC':SVC()
}

In [50]:
from sklearn.metrics import accuracy_score

In [62]:
def evaluate_model(X_train,y_train,X_test,y_test,models):
    
    report = {}
    for i in range(len(models)):
        model = list(models.values())[i]
        # Train model
        model.fit(X_train,y_train)

        # Predict Testing data
        y_test_pred =model.predict(X_test)

        # Get accuracy for test data prediction
       
        test_model_score = accuracy_score(y_test,y_test_pred)

        report[list(models.keys())[i]] =  test_model_score
            

            
    return report

In [63]:
evaluate_model(X_train,y_train,X_test,y_test,models)

{'Random Forest': 0.9591836734693877,
 'Decision Tree': 0.9387755102040817,
 'SVC': 0.9591836734693877}

In [64]:
classifier=RandomForestClassifier()